.header {
  text-align: center;
  margin-bottom: 20px;
}

.top-right-buttons {
  position: absolute;
  top: 50px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-button {
  margin-left: 10px;
}

.pictures-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.picture-item {
  margin: 10px;
}

.picture-item img {
  max-width: 200px;
  max-height: 200px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup button {
  margin-top: 10px;
}

.close-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.error {
  color: red;
}

.white-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.white-button:hover {
  background-color: #f0f0f0;
}

.common-button {
  background-color: #007bff;
  color: white;
  border: 1px solid #0056b3;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.common-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: red;
  color: white;
  border: 1px solid darkred;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: darkred;
}
