.popupInUser {
  background-color: lightblue;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close-button-container {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  right: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.error {
  color: red;
}
