<div class="user-box">
  <div class="top-right-buttons">
    <button (click)="openLoginPopup()">Login</button>
    <button class="white-button" (click)="openCreateUserPopup()">Register</button>
  </div>
  <app-current-user></app-current-user>
  <div class="header-container">
    <button routerLink="/">Go to Main Page</button>
    <h1>Správa Užívateľov</h1>
  </div>
  <div *ngIf="users.length > 0; else noUsers" class="user-container">
    <ul>
      <li *ngFor="let user of users" class="user-item" (click)="selectUser(user)" [class.selected]="user.id === selectedUserId">
        {{user.id}} - {{ user.name }} - {{ user.password }}
      </li>
    </ul>
  </div>
  <ng-template #noUsers>
    <p>No users found.</p>
  </ng-template>
  <button [disabled]="selectedUserId === null" (click)="deleteUser()" [class.active]="selectedUserId !== null">Delete User</button>

  <div *ngIf="showCreateUserPopup" class="popup">
    <app-user-create (userCreated)="closeCreateUserPopup()" (closePopup)="closeCreateUserPopup()"></app-user-create>
    <button (click)="closeCreateUserPopup()" class="close-button">Close</button>
  </div>

  <div *ngIf="showLoginPopup" class="popup">
    <app-login (loginSuccess)="closeLoginPopup()"></app-login>
    <button (click)="closeLoginPopup()" class="close-button">Close</button>
  </div>
</div>
